In [6]:
import pandas as pd
import numpy as np
import mysql.connector as connection

host="localhost"
database ='difoca'
user="root"
passwd="root1"

cop = "BANCO_DE_INICIATIVAS_2023"
carpeta_cop = "C:/Users/difoca05/OneDrive - Ministerio de Educación/COMUNIDAD DE PRACTICA (COP)"
año = '2023'
periodo ="01. ENE"

df1 = pd.read_excel(carpeta_cop+"/"+cop+".xlsx", sheet_name='cop_banco_iniciativas')
df2 = pd.read_excel(carpeta_cop+"/"+cop+".xlsx", sheet_name='cop_banco_iniciativas_estadio')
df3 = pd.read_excel(carpeta_cop+"/"+cop+".xlsx", sheet_name='cop_banco_iniciativas_iged')
df4 = pd.read_excel(carpeta_cop+"/"+cop+".xlsx", sheet_name='cop_ruta_fortalecimiento')

df1.fillna('', inplace=True)

df1["cod_ini"]= df1['cod_ini'].astype(str)
df1["nombre_ini"]= df1['nombre_ini'].astype(str)
df1["des_linea_tematica"]= df1['des_linea_tematica'].astype(str)
df1["des_eje_tematico"]= df1['des_eje_tematico'].astype(str)
df1["des_tipo_modalidad"]= df1['des_tipo_modalidad'].astype(str)
df1["des_modalidad"]= df1['des_modalidad'].astype(str)
df1["resumen_ini"]= df1['resumen_ini'].astype(str)
df1["tema_ini"]= df1['tema_ini'].astype(str)
df1["categoria_ini"]= df1['categoria_ini'].astype(str)
df1["fuente"]= df1['fuente'].astype(str)

df1["año_implementacion"]= df1["año_implementacion"].astype(int)
df1["año_implementacion"]= df1['año_implementacion'].astype(str)

df1["observacion"]= df1['observacion'].astype(str)
df1["gobierno_local"]= df1['gobierno_local'].astype(str)

df2.fillna('', inplace=True)

df2["id"]=df2["id"].astype(int)
df2["cod_ini"]= df2['cod_ini'].astype(str)

df2["año"]= df2["año"].astype(int)
df2["año"]= df2['año'].astype(str)

df2["estadio"]= df2['estadio'].astype(str)
df2["vigencia"]= df2['vigencia'].astype(str)

df3.fillna('', inplace=True)

df3["id"]= df3["id"].astype(int)
df3["cod_ini"]= df3['cod_ini'].astype(str)

df3["cod_iged"] = df3["cod_iged"].astype(int)
df3["cod_iged"] = df3['cod_iged'].astype(str).str.zfill(6)
df3["cod_iged"] = np.where(df3["cod_iged"] == "000000" , "", df3["cod_iged"])

df4["cod_ini"]= df4['cod_ini'].astype(str)
df4["año"]= df4["año"].astype(int)
df4["año"]= df4['año'].astype(str)
df4["periodo"]= df4['periodo'].astype(str)

In [7]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()
    query = "delete from cop_banco_iniciativas"
    cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [ ]:
con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
cur=con.cursor()

for (rows,rs) in df1.iterrows():
        x1 = rs[0] #cod_ini
        x2 = rs[1] #nombre_ini
        x3 = rs[2] #des_linea_tematica
        x4 = rs[3] #des_eje_tematico
        x5 = rs[4] #des_tipo_modalidad
        x6 = rs[5] #des_modalidad
        x7 = rs[6] #resumen_ini
        x8 = rs[7] #tema_ini
        x9 = rs[8] #categoria_ini
        x10 = rs[9] #fuente
        x11 = rs[10] #año_implementacion
        x12 = rs[11] #observacion
        x13 = rs[12] #gobierno_local
        query = "insert into cop_banco_iniciativas (cod_ini, nombre_ini, des_linea_tematica, des_eje_tematico, des_tipo_modalidad, des_modalidad, resumen_ini, tema_ini, categoria_ini, fuente, año_implementacion, observacion, gobierno_local) VALUES  ('"+x1+"', '"+x2+"', '"+x3+"', '"+x4+"', '"+x5+"', '"+x6+"', '"+x7+"', '"+x8+"', '"+x9+"', '"+x10+"', '"+x11+"', '"+x12+"', '"+x13+"')"
        cur.execute(query)
con.commit()
con.close()

In [ ]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()
    query = "delete from cop_banco_iniciativas_estadio where año = '"+año+"' and periodo = '"+periodo+"'"
    cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [8]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()

    for (rows,rs) in df2.iterrows():
        x1 = rs[0]
        x2 = rs[1]
        x3 = año
        x4 = periodo
        x5 = rs[4]
        x6 = rs[5]
        query = "insert into cop_banco_iniciativas_estadio (id, cod_ini, año, periodo, estadio, vigencia) VALUES ('"+x1+"', '"+x2+"', '"+x3+"', '"+x4+"', '"+x5+"', '"+x6+"')"
        cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))

In [9]:
con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
cur=con.cursor()

for (rows,rs) in df1.iterrows():
        x1 = ata #codAata
        x2 = rs[19] #sesion
        x3 = rs[0] #fecha
        x4 = rs[1] #dni
        x5 = rs[2] #nombre
        x6 = rs[3] #correo
        x7 = rs[4] #celular
        x8 = rs[5] #tipo inst
        x9 = rs[11] # inst
        x10 = rs[13] # cod iged
        x11 = rs[9] # region
        x12 = rs[7] # area
        x13 = rs[8] # cargo
        x14 = rs[10] # otro cargo
        x15 = rs[20] # categoria
        x16 = rs[21] # pub obj
        x17 = rs[14] # p1
        x18 = rs[15]#p2
        x19 = rs[16] #p3
        x20 = rs[17] #p4
        x21 = rs[18] #p5
        query = "insert into ata_implementacion (cod_ata, sesion, fecha, dni, nombres, email, celular, tipo_inst, otra_inst, cod_iged, region_otra_inst, area, perfil, otro_cargo, categoria, po, p01, p02, p03, p04, p05) VALUES  ('"+x1+"', '"+x2+"', '"+x3+"', '"+x4+"', '"+x5+"', '"+x6+"', '"+x7+"', '"+x8+"', '"+x9+"', '"+x10+"', '"+x11+"', '"+x12+"', '"+x13+"', '"+x14+"', '"+x15+"', '"+x16+"', '"+x17+"', '"+x18+"', '"+x19+"', '"+x20+"', '"+x21+"')"
        cur.execute(query)
con.commit()
con.close()

In [10]:
try:
    con = connection.connect(host=host, database =database,user=user, passwd=passwd,use_pure=True)
    cur=con.cursor()

    for (rows,rs) in df2.iterrows():
        x1 = ata
        x2 = rs[0]
        x3 = rs[5]
        query = "insert into ata_planificador_iged (cod_ata, cod_iged, kpi) VALUES ('"+x1+"', '"+x2+"', '"+x3+"')"
        cur.execute(query)
    con.commit()
    con.close()
except Exception as e:
    con.close()
    print(str(e))